@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "./styles/leaflet.css";

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
